body{
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color:#888888;
}

/* |Estilização do cabeçalho */

.header-index {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  width: 100%;
  height: 399px;
  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 71%);
  line-height: 10px;
}

.header-text {
    font-size: 14px;
}

.linha_1 {
  font-size: 20px;
}

.header-h3 {
  font-size: 40px;
  font-weight: bold;
}

.linha_3 {
  font-size: 16px;
}

.button-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #888888;
  justify-content:center;
  display:flex;
  flex-direction: row;
  padding:30px ;
}

.text-button {
  font-size: 14px;
  color: #888888;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  width: 160px;
  height: 40px;
  display: inline;
  justify-content:center; 
  margin: 0 20px 0 20px;
} 

/* Estilização do corpo */

.text-form {
  display:flex; 
  flex-direction: row;
  justify-content: center;
  margin-bottom: 80px;
  font-size: 12px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #888888;
  width: 100%;
}

.body-text {
 width: 520px;
 line-height: 20px;
 margin-right: 70px; 
 justify-content: center;
 
 
} 

.titulo {
   font-size:20px; 
 }

.formulario {
  display: grid;
  width: 500px;
  line-height: 30px;
}

.formulario-input {
  background-color: #ffffff;
  border: 1px solid #707070;
  opacity: 1;
  width: 340px;
  height: 30px;
 
}

.genero {
  display: flex;
  flex-direction: row;
  margin: 10px 0 ;
  
}

.genero-radio{
  margin-right: 45px;
 }

.formulario-button {
  color: #888888;
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  width: 340px;
  height: 39px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.api{
  display: block;
  flex-direction: column;
  max-width: 100%;

}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
}

.wrapper_line {
  position: absolute;
  border: 1px solid #888888;
  width: 920px;
}

.wrapper_text {
  font-size: 18px;
  background-color: white;
  padding: 0.5rem;
  z-index: 1;
}

.container-produtos{
  display: flex;
  flex-wrap: wrap;
  width: 930px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
   
}

.lista-um {
  display: flex;
}

.lista-dois {
  display: flex;
}

.lista-tres{
  display:flex;
}

.lista-quatro{
  display: flex;
}

.produtos{
  padding: 20px;
}

.imagem-produtos{
  width: 200px;
  height: 150px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.produtos-nome {
  text-align: left;
  font: normal normal normal 14px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.descricao{
  text-align: left;
  font: normal normal normal 12px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;

}

.preco-antigo{
  text-align: left;
  font: normal normal normal 12px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;

}

.preco{
  text-align: left;
  font: normal normal bold 16px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.parcelamento{
  text-align: left;
  font: normal normal normal 12px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.button-api {
  
  width: 200px;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
  font: normal normal normal 16px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;

   
 }

.mais-api, .menos-api {
  text-align: center;
  margin: 50px 0 100px 0;
}
.mais-button {
  color: #888888;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  width: 260px;
  height: 39px;
}

.verMenos-button{
  color: #888888;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  width: 260px;
  height: 39px;

}

/* Estilização Enviar e-mail */

.novidade{
 display: flex;
 flex-direction: column;
 width: 100%;
}

.newsletter {
 
  text-align: center;
  padding: 10px;
}

.newsletter-text {
  font-size: 16px;
  padding: 20px;
  margin-bottom: 20px;
}

.newsletter-enviar {
  font-size: 14px;
  padding: 20px;
  margin-bottom: 40px;
}

.newsletter-label {
  font-size: 12px;
}

.newsletter-input {
  width: 340px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #707070;
  opacity: 1;
}

.newsletter-button{
  color: #888888;
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  width: 260px;
  height: 39px;
}

/* Estilização footer */



.footer-index {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #ffffff;
  width: 100%;
  height: 293px;
  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
}


.footer-text {
  margin: 50px 0px;
  padding: 70px;
  font-size: 12px;
  line-height: 20px;
}

/* Estilização pagina e-mail */

.body-email{
  max-width: 600px;
}

/* Estilização do cabeçalho */

.header-email {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  height: 198px;
  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 71%);
}

.header-email-text {
  margin-top: 30px;
  font-size: 14px;
}

.linha_1-email {
  font-size: 20px;
}

.email-h3 {
  padding: 10px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  width: 360px;
  display: inline-block;
  justify-content:center;
 
}

.linha_3-email {
  font-size: 14px;
  font-weight: normal;
 margin-top: 10px; 
 line-height: 20px;
}

.text-introduction{
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 40px;
  padding: 20px;
  
}

.introduction-title{
  color: #888888;
  font-size: 24px;
  font:bold;
  margin-bottom:20px ;

}

.email{
  display:flex; 
   justify-content: center;
   padding: 30px;
   margin-bottom: 20px;
   gap: 30px;
 }


.button-api-submit-email{
  
  width: 200px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #707070;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #888888;
  
}

.button-api-email{
text-align: center;
}

.button-email{
background-color: #ffffff;
border: 1px solid #707070;
border-radius: 4px;
opacity: 1;
font-family: Arial, Helvetica, sans-serif;
color: #888888;
font-size:16px ;
width: 383px;
height: 39px;

}

/* Estilização footer-email */

.footer-email {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #ffffff;
  width: 600px;
  height: 293px;
  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  clip-path: polygon(0 60%, 100% 35%, 100% 100%, 0 100%);
}


