:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  color: #888888;
}

/* Estilização do cabeçalho */

.header-index {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #ffffff;
  height: 399px;
  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 71%);
  line-height: 10px;
}

.header-text {
  font-size: 14px;
  padding-top: 70px;
}

.linha_1 {
  font-size: 20px;
}

.header-h3 {
  font-size: 40px;
  font-weight: bold;
}

.linha_3 {
  font-size: 16px;
}

.button-header {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 3;
  font-size: 14px;
  color: #888888;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.text-button {
  font-size: 14px;
  color: #888888;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  width: 160px;
  height: 40px;
  display: inline;
  justify-content: center;
  margin: 0 20px 0 20px;
}

/* Estilização do corpo */

.text-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 80px;
  font-size: 12px;
  line-height: 20px;
  color: #888888;
}

.body-text {
  width: 520px;
  line-height: 20px;
  margin-right: 70px;
  justify-content: center;
}

.titulo {
  font-size: 20px;
}

.formulario {
  display: grid;
  width: 340px;
  line-height: 30px;
}

.formulario-input {
  background-color: #ffffff;
  border: 1px solid #707070;
  opacity: 1;
  width: 340px;
  height: 30px;
  padding-left: 8px;
}

.genero {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.genero-radio {
  margin: 0 45px 0 6px;
}

.formulario-button {
  color: #888888;
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  width: 340px;
  height: 39px;
  font-size: 16px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
}

.wrapper_line {
  position: absolute;
  border: 1px solid #888888;
  width: 920px;
}

.wrapper_text {
  font-size: 18px;
  background-color: white;
  padding: 0.5rem;
  z-index: 1;
}

.container-produtos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 930px;
  margin: 0 auto;
}

.lista-um {
  display: flex;
}

.lista-dois {
  display: flex;
}

.lista-tres {
  display: flex;
}

.lista-quatro {
  display: flex;
}

.produtos {
  padding: 20px;
}

.imagem-produtos {
  width: 200px;
  height: 150px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
}

.produtos-nome {
  text-align: left;
  font: normal normal normal 14px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.descricao {
  text-align: left;
  font: normal normal normal 12px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.preco-antigo {
  text-align: left;
  font: normal normal normal 12px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.preco {
  text-align: left;
  font: normal normal bold 16px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.parcelamento {
  text-align: left;
  font: normal normal normal 12px/16px Helvetica Neue;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.button-api {
  width: 200px;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
  font: normal normal normal 16px/16px;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
}

.mais-api {
  text-align: center;
  margin: 50px 0 100px 0;
}

.menos-api {
  display: none;
  text-align: center;
  margin: 50px 0 100px 0;
}

.ver-mais-button,
.ver-menos-button {
  color: #888888;
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  width: 260px;
  height: 39px;
}

/* Estilização Enviar e-mail */

.novidade {
  text-align: center;
}

.newsletter-text {
  font-size: 16px;
  padding: 20px;
  margin-bottom: 20px;
}

.newsletter-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 40px;
}

.newsletter-enviar {
  display: flex;
}

.newsletter-nome {
  display: flex;
  flex-direction: column;
}

.newsletter-email {
  margin-left: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.newsletter-label {
  font-size: 12px;
  text-align: left;
}

.newsletter-input {
  width: 340px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #707070;
  opacity: 1;
  margin-top: 5px;
  padding-left: 8px;
}

.newsletter-button {
  color: #888888;
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  width: 260px;
  height: 39px;
}

/* Estilização footer */

.footer-index {
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  height: 293px;
  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
}

.footer-text > div {
  padding-top: 100px;
}

/* Estilização pagina e-mail */

/* Margem colocada para melhor visualização da pagina */

body-email {
  margin-left: 50px;
}

/* Estilização do cabeçalho */

.header-email {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  width: 600px;
  height: 198px;
  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 71%);
  line-height: 10px;
  padding: 15px;
}

.header-text-email {
  font-size: 14px;
}

.linha_1-email {
  font-size: 20px;
}

.email-h3 {
  font-size: 40px;
  font-weight: bold;
}

.linha_3-email {
  font-size: 14px;
  font-weight: normal;
  width: 360px;
  line-height: 20px;
}

.text-introduction {
  width: 600px;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 40px;
}

.introduction-title {
  width: 600px;
  color: #888888;
  font-size: 24px;
  font: bold;
  margin-bottom: 20px;
}

.api-email {
  width: 601px;
}

.container-produtos-email {
  display: flex;
  flex-wrap: wrap;
  width: 443px;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.button-api-email {
  text-align: center;
}

.button-email {
  background-color: #ffffff;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  color: #888888;
  font-size: 16px;
  width: 383px;
  height: 39px;
}

/* Estilização footer-email */

.footer-email {
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  width: 600px;
  height: 158px;
  background: #707070 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  opacity: 1;
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
}

.footer-text-email {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
}

.footer-text-email > div {
  padding-top: 100px;
}

/* Estilização Mobile */
@media (max-width: 600px) {
  .header-index {
    padding: 0 16px;
    z-index: 2;
    justify-content: start;
  }

  .header-text {
    padding-top: 66px;
  }

  .linha_1,
  .linha_3 {
    text-align: left;
  }

  .header-h3 {
    text-align: left;
  }

  .linha_3 {
    line-height: 20px;
  }

  .button-header {
    top: 220px;
    left: 0;
    transform: none;
    z-index: 3;
    flex-wrap: wrap;
  }

  .text-button {
    z-index: 3;
    margin: 0;
  }

  .text-button:nth-child(1),
  .text-button:nth-child(2) {
    margin-bottom: 10px;
  }

  .text-button:nth-child(1),
  .text-button:nth-child(3) {
    margin-right: 10px;
  }

  .text-form {
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
  }

  .body-text {
    width: 100%;
    margin-right: 0;
  }

  .wrapper_line {
    width: 100%;
  }

  .container-produtos {
    width: 100%;
  }
  .produtos {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .produtos-itens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    padding: 0 0 0 5px;
  }

  .produtos-itens > p,
  .produtos-itens > h4 {
    margin: 0;
  }

  .descricao {
    display: none;
  }

  .lista-um,
  .lista-tres,
  .lista-quatro {
    flex-wrap: wrap;
  }

  .lista-dois {
    display: none;
  }

  .newsletter-enviar {
    flex-direction: column;
  }

  .newsletter-email {
    margin: 16px 0 0 0;
  }
}
